<div class="container">
  <div class="section-one">
    <span class="title">Hi, Carlos</span>
    <img src="assets/graph.png" alt="" />
  </div>
  <div class="section-two">
    <span class="title">Hypertension grades</span>
    <div class="table">
      <div class="row header">
        <div class="category">Category</div>
        <div class="systolic">Systolic</div>
        <div class="diastolic">Diastolic</div>
      </div>
      <div *ngFor="let category of categories" class="row">
        <div class="category">{{ category.category }}</div>
        <div class="systolic">{{ category.systolic }}</div>
        <div class="diastolic">{{ category.diastolic }}</div>
      </div>
    </div>


  </div>
</div>
