@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@100..900&display=swap');

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

$color-primary: #FFF8F3;
$color-white: #FFFFFF;
$color-gray: #DEE0E1;
$color-orange: #F84F1A;
$color-text: #2E323F;
