<span class="title" mat-dialog-title>Add Blood Pressure</span>
<mat-dialog-content class="modal-content">
  <div class="tabs">
    <button class="tab">
      <mat-icon class="material-symbols-rounded">note</mat-icon>
      <span>Note</span>
    </button>
    <button class="tab active">
      <mat-icon class="material-symbols-rounded">favorite</mat-icon>
      <span>Blood Pressure</span>
    </button>
  </div>

  <div class="measurements">
    <div class="measurement">
      <span class="title">Systolic</span>
      <div class="values">
        <span>113</span>
        <span>114</span>
        <span class="current">115</span>
        <span>116</span>
        <span>117</span>
      </div>
    </div>
    <div class="measurement">
      <span class="title">Diastolic</span>
      <div class="values">
        <span>83</span>
        <span>84</span>
        <span class="current">85</span>
        <span>86</span>
        <span>87</span>
      </div>
    </div>
    <div class="measurement">
      <span class="title">Pulse</span>
      <div class="values">
        <span>78</span>
        <span>79</span>
        <span class="current">80</span>
        <span>81</span>
        <span>82</span>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()" class="add-button">
    <mat-icon class="material-symbols-rounded">favorite</mat-icon>
    <span>Add blood pressure</span>
  </button>
</mat-dialog-actions>
