<div class="container">
  <div class="section-one">
    <span class="title">Your blood pressure</span>
    <span class="status">Excellent!</span>
    <div class="main-icon">
      <img src="assets/blood_presure_machine_icon.png" alt="">
    </div>
    <p class="text">Please make sure your blood pressure monitor is switched on</p>
  </div>
  <div class="section-two">
    <span class="title">Last measurements</span>

    <div class="table">
      <div *ngFor="let measurement of measurements" class="row">
        <div class="date">
          <span>{{ measurement.day }}</span>
          <span>{{ measurement.time }}</span>
        </div>
        <div class="data">
          <div class="systolic">
            <span>Sys</span>
            <span>{{ measurement.systolic }}</span>
          </div>
          <div class="diastolic">
            <span>Dia</span>
            <span>{{ measurement.diastolic }}</span>
          </div>
          <div class="pulse">
            <span>♥️</span>
            <span>{{ measurement.pulse }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
